.main {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 500px);
    justify-content: space-between;
    gap: 20px;
}

.main div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.main img {
    width: 100%;
    height: 250px;
}

.main>div>button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: yellow;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.main>div>button :active {
    background-color: white;
    color: black;
}