.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: hsl(30, 54%, 90%);
}

.cont>div {
    width: 40%;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px black;
    padding: 2em 1.8em;
    background-color: hsl(0, 0%, 100%);
}