img {
    width: 100%;
}


div {
    margin-top: 50px;
}

.prep>h1 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 2.2em;
    color: hsl(24, 5%, 18%);
}

p {
    width: 90%;
    /* letter-spacing: 1.1px; */
    text-align: justify;
    word-break: 2.5px;
    font-size: 16px;
}

.prep>.subBox {
    margin: 40px 25px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
    background-color: hsl(330, 100%, 98%);
}

.prep>.subBox:hover{
    scale: 1.05;
    cursor: pointer;
}

.prep>.subBox>h3 {
    color: purple;
}

#subHeading {
    font-size: 2em;
    color: hsl(14, 45%, 36%);
}


li {
    width: 90%;
    margin-bottom: 10px;
    word-spacing: 1.1px;
    text-align: justify;
    margin-left: 10px;
}

.nutri>table {
    width: 100%;
    margin-left: 20px;
}


.nutri>table>tr>td {
    padding: 10px;
}

.nutri>table>tr>#grams {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}