.cont {
    height: 100vh;
    width: 100%;
    background-color: var(--backColor);
}

.cont>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}