:root {
    --backColor: hsl(275, 100%, 97%);
    --iconColor: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
}

* {
    color: var(--darkPurple);
}

.outer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}