:root {
    --backColor: hsl(275, 100%, 97%);
    --iconColor: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
}

.faq {
    position: absolute;
    width: 30%;
    padding: 20px;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.226);
    color: var(--darkPurple);
    background-color: var(--backColor);
}

.faq>.head {
    display: flex;
    margin-bottom: 30px;
}

.faq>.head>h1 {
    font-size: 2.2rem;
    margin-left: 10px;
}