* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hotpink;
}

form {
    /* min-width: 400px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 20px;
    background-color: pink;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

label {
    font-size: 18px;
    margin-bottom: 2px;
}

input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 35px;
}

::placeholder {
    text-transform: capitalize;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}