.left {
    width: 50%;
    padding: 20px;
}

.same {
    display: flex;
    justify-content: space-between;
}

.left div {
    margin-top: 10px;
}

.left input {
    display: block;
}

.left input[type="radio"] {
    display: inline;
}