@import url('https://fonts.googleapis.com/css2?family=Aubrey&display=swap');
/* font-family: "Aubrey", system-ui; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Aubrey", system-ui;
  font-weight: 400;
  font-style: normal;
}