.outer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border-radius: 40px;
    background-color: black;
}

nav>a {
    display: flex;
    padding: 10px;
    color: white;
    font-size: 22px;
    text-decoration: none;
    border-radius: 40%;
    margin: 10px;
}

nav>a:hover {
    cursor: pointer;
    background-color: white;
    color: black;

}