.outer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.atns {
    height: 400px;
    width: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
}

.atns>h1 {
    font-size: 3rem;
}

.btns {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    scale: 1.03;
    box-shadow: 0 0 5px black;
    transition: all ease-in-out .2s;
}