@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');


:root {
  --PrimaryText: "Big Shoulders", sans-serif;
  --SecondaryText: "Lexend Deca", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}