@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Young+Serif&display=swap');
/* font-family: "Young Serif", serif; */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* font-family: "Outfit", sans-serif; */

img {
    width: 100%;
}

div {
    margin-top: 50px;
}

.prep>h1 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 2.2em;
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-weight: 550;
}

p {
    width: 95%;
    text-align: justify;
    word-break: 2.5px;
    font-weight: 50;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    color: hsl(30, 10%, 34%);
}

.prep>.subBox {
    margin: 40px 25px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
    background-color: hsl(330, 100%, 98%);
}

.prep>.subBox:hover {
    scale: 1.05;
    cursor: pointer;
}

.prep>.subBox>h3 {
    color: purple;
    font-family: "Young Serif", serif;
    font-weight: 550;
    font-size: 18px;
}

#subHeading {
    font-size: 2em;
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 550;
}

li {
    width: 90%;
    margin-bottom: 10px;
    word-spacing: 1.1px;
    text-align: justify;
    margin-left: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

b {
    font-weight: 550;
    color: black;
}

td {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
}

.nutri>table {
    width: 100%;
    margin-left: 20px;
}

.nutri>table>tr>td {
    padding: 10px;
}

.nutri>table>tr>#grams {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}