:root {
    --outerColor: hsl(47, 88%, 63%);
    --cardColor: hsl(0, 0%, 100%);
    --textColor: hsl(0, 0%, 42%);
    --shadowColor: hsl(0, 0%, 7%);
}


.outer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--outerColor);
}

.inner {
    padding: 20px;
    display: flex;
    gap: 15px;
    border: 2px solid rgba(0, 0, 0, 0.438);
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 10px 2px black;
    background-color: white;
}

.inner>img {
    width: 300px;
    border-radius: 10px;
}

.inner>h3 {
    padding: 5px 13px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--outerColor);
}

.inner>#p1 {
    font-size: 12.5px;
    font-weight: bold;
    color: var(--textColor);
}

.inner>h2 {
    font-size: 21px;
}

.inner>#p2 {
    font-size: 14px;
    width: 300px;
    font-weight: 550;
    color: var(--textColor);
    line-height: 25px;
    opacity: 60%;
}

.inner>.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.inner>.avatar>img {
    height: 35px;
}
.inner>.avatar>p {
    font-size: 14px;
    font-weight: bold;
}